@import "tailwindcss";

html {
  font-family:
    "Inter",
    "Segoe UI",
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}
